<template>
  <div class="container">
    <div class="main-content">
      <div class="page-title">
        <h3>著者別</h3>
      </div>
      <VPosts :posts="posts"
              :maxNumPages="1"
              :numPage="1"/>
    </div>
    <div class="side-bar">
      <VSideCategories :categories="categories"/>
      <VSideAuthors :authors="authors"/>
    </div>
  </div>
</template>

<script>
  import VPosts from '@/components/VPosts.vue'
  import VSideCategories from '@/components/VSideCategories.vue'
  import VSideAuthors from '@/components/VSideAuthors.vue'

  const config = require('@/const/config')
  import WPAPI from 'wpapi'
  const wp = new WPAPI({endpoint: config.WP_BASE_URL})

  export default {
    components: {
      VPosts,
      VSideCategories,
      VSideAuthors
    },
    async asyncData({$axios, params, payload}) {

      const postsInfo = await $axios.$get(config.WP_BASE_URL + config.WP_CUSTOM_API_NAMESPACE + '/posts?author=' + params.id)
        .catch(e => console.log(e))

      const authors = payload ? payload.authors : await wp.users().get().catch(e => console.log(e))

      const categories = payload ? payload.categories : await wp.categories().get().catch(e => console.log(e))

      return {
        posts: postsInfo.posts,
        authors: authors,
        categories: categories
      }
    }
  }
</script>
