<template>
  <div class="container">
    <div class="main-content">
      <div class="page-title">
        <h3>著者一覧</h3>
      </div>
      <div v-for="author in authors" class="author">
        <h3 class="name">
          <a v-bind:href="'/author/' + author.id">{{ author.name }}</a>
        </h3>
        <p class="description">{{author.description}}</p>
      </div>
    </div>
    <div class="side-bar">
      <VSideCategories :categories="categories"/>
      <VSideAuthors :authors="authors"/>
    </div>
  </div>
</template>

<script>
  import VSideCategories from '@/components/VSideCategories.vue'
  import VSideAuthors from '@/components/VSideAuthors.vue'

  const config = require('@/const/config')
  import WPAPI from 'wpapi'
  const wp = new WPAPI({endpoint: config.WP_BASE_URL})

  export default {
    components: {
      VSideCategories,
      VSideAuthors
    },
    async asyncData() {
      const authors = await wp.users().get().catch(e => console.log(e))

      const categories = await wp.categories().get().catch(e => console.log(e))

      return {
        authors: authors,
        categories: categories
      }
    }
  }
</script>

<style>
  .author {
    margin: 10px 0;
  }

  .name {
    font-size: 1.5rem;
    border-bottom: solid gray 1px;
  }

  .description {
    color: gray;
    font-size: 0.9rem;
  }
</style>
