<template>
  <div class="container">
    <div class="main-content">
      <h3 class="page-title">最新記事</h3>
      <VPosts :posts="posts"
              :maxNumPages="maxNumPages"
              :numPage="numPage"/>
    </div>
    <div class="side-bar">
      <VSideCategories :categories="categories"/>
      <VSideAuthors :authors="authors"/>
    </div>
  </div>
</template>

<script>
  import VPosts from '@/components/VPosts.vue'
  import VSideCategories from '@/components/VSideCategories.vue'
  import VSideAuthors from '@/components/VSideAuthors.vue'

  const config = require('@/const/config')
  import WPAPI from 'wpapi'
  const wp = new WPAPI({endpoint: config.WP_BASE_URL})

  export default {
    components: {
      VPosts,
      VSideCategories,
      VSideAuthors,
    },
    async asyncData({$axios, params, payload}) {
      const postsInfo = await $axios.$get(config.WP_BASE_URL + config.WP_CUSTOM_API_NAMESPACE + '/posts?paged=' + params.page)
        .catch(e => console.log(e))

      const authors = payload ? payload.authors : await wp.users().get().catch(e => console.log(e))

      const categories = payload ? payload.categories : await wp.categories().get().catch(e => console.log(e))

      return {
        numPage: Number(params.page),
        maxNumPages: postsInfo.max_num_pages,
        posts: postsInfo.posts,
        authors: authors,
        categories: categories
      }
    }
  }
</script>
