<template>
  <div class="container">
    <div class="main-content">
      <VPost :post="post"/>
    </div>
    <div class="side-bar">
      <VSideCategories :categories="categories"/>
      <VSideAuthors :authors="authors"/>
    </div>
  </div>
</template>

<script>
  import VPost from '@/components/VPost.vue'
  import VSideCategories from '@/components/VSideCategories.vue'
  import VSideAuthors from '@/components/VSideAuthors.vue'

  const config = require('@/const/config')
  import WPAPI from 'wpapi'
  const wp = new WPAPI({endpoint: config.WP_BASE_URL})

  export default {
    components: {
      VPost,
      VSideCategories,
      VSideAuthors
    },
    async asyncData({params, payload, $axios}) {

      const post = payload ? payload.post :
        await $axios.$get(config.WP_BASE_URL + config.WP_CUSTOM_API_NAMESPACE + '/posts/?p=' + params.id)
          .then(res => res.posts[0])
          .catch(e => console.log(e))

      const authors = payload ? payload.authors : await wp.users().get().catch(e => console.log(e))

      const categories = payload ? payload.categories : await wp.categories().get().catch(e => console.log(e))

      return {
        post: post,
        authors: authors,
        categories: categories
      }
    }
  }
</script>
