<template>
  <footer>
    フッター！！！
  </footer>
</template>

<script>

</script>

<style>
  footer {
    width: 100%;
    height: 10vh;
    color: white;
    background-color: #F37130;
    text-align: center;
  }
</style>
