<template>
  <header>
    ヘッダー！！！
    <div class="header-menu">
      <a href="/page/1">記事一覧</a>
      <a href="/author">著者一覧</a>
    </div>
  </header>
</template>

<style>
  header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7vh;
    color: white;
    background-color: #F37130;
    text-align: center;
    line-height: 7vh;
    font-size: 2rem;
  }

  .header-menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: 0 10px;
  }
</style>
