<template>
  <div class="contact-form">
    <h3>お問い合わせ</h3>
    <div class="item">
      <label>メールアドレス</label>
      <input type="email" v-model="email">
    </div>
    <div class="item">
      <label>名前</label>
      <input type="text" v-model="name">
    </div>
    <div class="item">
      <label>件名</label>
      <input type="text" v-model="subject">
    </div>
    <div class="item">
      <label>お問い合わせ内容</label>
      <textarea v-model="message" rows="10"></textarea>
    </div>
    <div v-if="error" class="item">{{error}}</div>
    <button class="btn" @click="submitForm">直接送信</button>
    <button class="btn" @click="submitFormSendGrid">SendGridで送信</button>
  </div>
</template>

<script>
  const config = require('@/const/config')

  export default {
    data: () => {
      return {
        email: '',
        name: '',
        subject: '',
        message: '',
        error: null
      }
    },
    methods: {
      submitForm() {
        if(!this.email || !this.name || !this.subject || !this.message) {
          this.error = 'すべての項目を入力してください'
          return
        }

        this.$axios.post('https://wp-api-test-with-git.netlify.com/.netlify/functions/contact', {
          name: this.name,
          email: this.email,
          subject: this.subject,
          message: this.message
        })
          .then(r => console.log(r))
          .catch(e => console.log(e))
      },
      submitFormSendGrid() {
        if(!this.email || !this.name || !this.subject || !this.message) {
          this.error = 'すべての項目を入力してください'
          return
        }

        this.$axios.post('https://wp-api-test-with-git.netlify.com/.netlify/functions/sendgrid', {
          name: this.name,
          email: this.email,
          subject: this.subject,
          message: this.message
        })
          .then(r => console.log(r))
          .catch(e => console.log(e))
      }
    }
  }
</script>

<style>
  .contact-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
  }

  h3 {
    margin-bottom: 20px;
  }

  .item {
    margin-bottom: 1rem;
  }

  label {
    width: 40%;
    text-align: left;
    float: left;
    border-left: solid #F37130;
    padding-left: 5px;
  }

  input {
    width: 50%;
    float: left;
  }

  textarea {
    width: 50%;
    float: left;
  }

  button {
    width: 20%;
    height: 2rem;
    font-size: 1rem;
    margin: 0 auto;
    background-color: #F37130;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
  }

  button:active {
    opacity: 0.5;
  }


</style>
