<template>
  <div class="v-post">
    <h3 class="title">{{ post.title }}</h3>
    <div class="info">
      <p class="date">
        <fa :icon="['fas', 'clock']"/>
        {{ post.date }}
      </p>
      <p class="author">
        <fa :icon="['fas', 'user']"/>
        <a :href="'/author/' + post.author.id">{{post.author.name}}</a>
      </p>
    </div>
    <div class="eye-catch">
      <img v-if="post.thumbnail_url" :src="post.thumbnail_url">
    </div>
    <div v-html="post.content" class="content">
    </div>
    <div class="categories">
      <p>
        <fa :icon="['fas', 'tags']"/>
        <span v-for="category in post.categories"><a :href="'/category/' + category.term_id">{{category.name}}</a>, </span>
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'VPost',
    props: {
      post: Object
    },
  }
</script>

<style>
  .v-post {
    background-color: white;
    padding: 20px;
  }

  .title {
    font-size: 4rem;
    margin-bottom: 1%;
  }

  .eye-catch {
    width: 100%;
  }

  .eye-catch img {
    width: 100%;
  }

  .info {
    /*max-width: 100%;*/
    display: flex;
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 5%;
  }

  .info a:visited {
    color: gray;
  }

  .date {
    margin-right: 1rem;
  }

  .content {
    min-height: 30vh;
    padding: 20px 0;
  }
</style>
