<template>
  <div class="v-posts">
    <paginate
      :value="numPage"
      :page-count="maxNumPages"
      :page-range="3"
      :margin-pages="2"
      :click-handler="clickCallback"
      :prev-text="'前'"
      :next-text="'次'"
      :container-class="'pagination'"
      :page-class="'page-item'">
    </paginate>
    <div v-for="post in posts" class="post">
      <div class="eye-catch">
        <a :href="'/post/' + post.id">
          <img v-if="post.thumbnail_url" :src="post.thumbnail_url">
        </a>
      </div>
      <div class="post-header">
        <h3 class="post-title">
          <a v-bind:href="'/post/' + post.id">{{post.title}}</a>
        </h3>
        <div class="post-info">
          <p>
            <fa :icon="['fas', 'user']"/>
            <a :href="'/author/' + post.author.id">{{post.author.name}}</a>
          </p>
          <p class="post-date">
            <fa :icon="['fas', 'clock']"/>
            {{post.date}}
          </p>
        </div>
        <div class="post-excerpt">
          <p v-html="post.excerpt"></p>
        </div>
      </div>
    </div>
    <paginate
      :value="numPage"
      :page-count="maxNumPages"
      :page-range="3"
      :margin-pages="2"
      :click-handler="clickCallback"
      :prev-text="'前'"
      :next-text="'次'"
      :container-class="'pagination'"
      :page-class="'page-item'">
    </paginate>
  </div>
</template>

<script>
  import Paginate from '@/components/Paginate.vue'

  export default {
    name: 'VPosts',
    props: {
      posts: Array,
      maxNumPages: Number,
      numPage: Number
    },
    components: {
      Paginate
    },
    data: () => {
      return {
        pageNumber: 1
      }
    },
    methods: {
      clickCallback(pageNum) {
        this.$router.push('/page/' + pageNum)
      }
    }
  }
</script>

<style>
  .v-posts{
    text-align: center;
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0;
  }

  .pagination li {
    list-style: none;
    width: 2rem;
    margin: 0 2px;
    background-color: antiquewhite;
    color: black;
  }

  .pagination .active{
    background-color: #F37130;
    color: white;
  }

  .post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    border: solid #fbfce5 1px;
  }

  .eye-catch {
    width: 40%;
  }

  .post-header {
    width: 60%;
    text-align: center;
  }

  .post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3%;
  }

  .post-info {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 5%;
  }

  .post-info a:visited {
    color: gray;
  }

  .post-excerpt {
    width: 80%;
    margin: 0 auto;
    color: grey;
    font-size: 0.8rem;
    text-align: left;
  }
</style>
