<template>
  <div class="v-side-categories side-content">
    <h4 class="heading">カテゴリー</h4>
    <div v-for="category in categories">
      <li><a :href="'/category/' + category.id">{{category.name}}</a></li>
    </div>
  </div>
</template>

<script>
  const config = require('@/const/config')
  import WPAPI from 'wpapi'
  const wp = new WPAPI({endpoint: config.WP_BASE_URL})

  export default {
    name: 'VSideCategories',
    props: {
      categories: Array
    }
    // async mounted() {
    //   this.categories = await wp.categories().get()
    //     .catch(e => console.log(e))
    // },
    // data: () => {
    //   return {
    //     categories: []
    //   }
    // }
  }
</script>

<style>
  .heading {
    font-size: 2rem;
    border-bottom: solid #F37130;
  }

</style>
