<template>
  <div class="v-side-authors side-content">
    <h4 class="heading">著者</h4>
    <div v-for="author in authors">
      <li><a :href="'/author/' + author.id">{{author.name}}</a></li>
    </div>
  </div>
</template>

<script>
  const config = require('@/const/config')
  import WPAPI from 'wpapi'
  const wp = new WPAPI({endpoint: config.WP_BASE_URL})

  export default {
    name: 'VSideAuthors',
    props: {
      authors: Array
    }
    // async mounted() {
    //   this.authors = await wp.users().get()
    //     .catch(e => console.log(e))
    // },
    // data: () => {
    //   return {
    //     authors: []
    //   }
    // }
  }
</script>

<style>
  .heading {
    font-size: 2rem;
    border-bottom: solid #F37130;
  }

</style>
