<template>
  <div>
    <TheHeader/>
    <main>
      <nuxt/>
    </main>
    <VContactForm/>
    <TheFooter/>
  </div>
</template>

<script>
  import TheHeader from '@/components/TheHeader.vue'
  import TheFooter from '@/components/TheFooter.vue'
  import VContactForm from '@/components/VContactForm.vue'

  export default {
    components: {
      TheHeader,
      TheFooter,
      VContactForm
    }
  }
</script>

<style>
html {
  font-family: 'Hiragino Maru Gothic Pro','Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #fbfce5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: blanchedalmond;
}

.container {
  width: 94%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-size: 1.5rem;
}

.main-content {
  width: 60%;
}

.side-bar {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.side-content {
  padding: 20px 20px;
}

.side-content li {
  list-style: circle;
  line-height: 2rem;
}

h3 {
  display: block;
}

a {
  text-decoration: none;
}

a:visited{
  color: black;
}

a:link {
  color: black;
}

a:hover {
  opacity: 0.5;
  transition: 0.2s;
}

img {
  width: 100%;
}

figcaption {
  color: gray;
  font-size: 0.9rem;
  font-style: italic;
}

blockquote {
  position: relative;
  padding: 30px 15px 8px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  color: #555;
}
blockquote:before{
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 3px;
  content: "“";
  font-family: sans-serif;
  color: #cfcfcf;
  font-size: 90px;
  line-height: 1;
}
blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}
</style>
